/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v10-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow';
    padding: 0;
    margin: 0;
    font-size: 16px;
}

img {
    vertical-align: middle;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    margin: 43px auto;
}

.logo__link {
    text-decoration: none;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item + .nav__item {
    margin-left: 34px;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    color: #83888F;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link:hover, .active_link {
    color: #333D4B;
}

/* main */

/* cta section */

.cta__wrapper {
    background-image: url('../images/cta_bg_image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    color: #ffffff;
    padding: 117px 85px;
    border-radius: 10px;
}

.cta__heading {
    margin: 0;
    margin-bottom: 32px;
    width: 50%;
    font-size: 72px;
    font-family: 'Fraunces';
    font-weight: 900;
}

.cta__description {
    margin: 0;
    margin-bottom: 56px;
    width: 45%;
    color: #d0d1ce;
}

.cta__link {
    text-decoration: none;
    padding: 15px 31px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #0E8784;
    font-family: 'Fraunces';
    font-weight: 900;
    transition: 0.2s ease;
} 

.cta__link:hover {
    background-color: #66D2CF;
    transition: 0.2s ease;
}


/* products section */

.products__list {
    padding: 0;
    margin: 136px auto 200px auto;
    list-style-type: none;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/products_bg_image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.products__item {
    margin-top: 150px;
    width: 255px;
    text-align: center;
}

.product__link {
    text-decoration: none;
}

.product__image {
    margin-bottom: 70px;
}

.product__name {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin: 0;
    margin-bottom: 24px;
}

.product__description {
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin: 0;
    padding: 0 10px;
}

/* because section */

.because__wrapper {
    background-color: #2C343E;
    color: #ffffff;
    border-radius: 10px;
    padding: 100px 100px 0 100px;
    height: 577px;
    margin-bottom: 350px;
}

.because__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-bottom: 32px;
}

.because__description {
    text-align: center;
    margin: 0;
    width: 45%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 86px;
}

.because__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.because__item {
    width: 340px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 48px;
}

.because__item::before {
    width: 72px;
    height: 72px;
    display: block;
    content: "";
    margin: 0 auto;
    margin-bottom: 56px;
}

.because__item:nth-child(1)::before {
    background-image: url("../images/because_icon_1.png");
}

.because__item:nth-child(2)::before {
    background-image: url("../images/because_icon_2.png");
}

.because__item:nth-child(3)::before {
    background-image: url("../images/because_icon_3.png");
}

.because__list__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 32px;
}

.because__list__description {
    text-align: center;
    margin: 0;
}

/* instructions section */


.instruction__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    color: #83888F;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 95px;
}

.instruction__list {
    list-style-type: none;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.instruction__item {
    width: 255px;
}

.instruction__item::before {
    width: 31px;
    height: 31px;
    display: inline-block;
    content: '';
    border: 2px solid #0E8784;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: -19px;
}

.instruction__number::before {
    width: 130%;
    height: 2px;
    display: inline-block;
    content: '';
    background-color: #FDD6BA;
    margin-bottom: 100px;
    margin-left: 31px;
}

.instruction__item:nth-child(3) .instruction__number::before {
    background-color: #ffffff;
}

.instruction__item + .instruction__item {
    margin-left: 95px;
}

.instruction__number {
    color: #FDD6BA;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 38px;
}

.instruction__list__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 42px;
}

.instuction__list_description {
    font-size: 16px;
    color: #333D4B;
    margin: 0;
}


.instruction__link--margined {
    margin-top: 76px;
}

/* footer */

.footer__wrapper {
    background-color: #2C343E;
    padding: 47px 85px;
    display: flex;
    align-items: center;
}

.footer__wrapper .nav {
    margin-left: 100px;
}

.footer__wrapper .active_link {
    color: #ffffff;
}

.footer__wrapper .nav__link:hover {
    color: #ffffff;
    transition: 0.2s ease;
}

.social__wrapper {
    display: inline-block;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90px;
    justify-content: space-between;
}

.fab.fa-instagram, .fab.fa-facebook-square, .fab.fa-twitter {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #ffffff;
}

.fab.fa-instagram:hover, .fab.fa-facebook-square:hover, .fab.fa-twitter:hover {
    color: #FDD6BA;
}

.instagram__link, .facebook__link, .twitter__link {
    text-decoration: none;
    display: inline-block;
}




/* ========= About us page ========= */

/* cta section */

.about__cta__wrapper--bg {
    background-image: url('../images/about_cta_bg.png');
    height: 450px;
    margin-bottom: 168px;
}

.about__cta__description--width {
    width: 40%;
}

/* story section */

.story__wrapper {
    width: 85%;
    margin: 0 auto;
}

.story__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.story__item:nth-child(2) {
    background-color: #2C343E;
    color: #ffffff;
    border-radius: 8px;
    padding-bottom: 100px;
    margin-bottom: 168px;
    padding-top: 88px;
    margin-top: 300px;
}


.story__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 168px;
}

.story__left__box {
    width: 50%;
}

.story__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    margin: 0;
    margin-bottom: 32px;
}

.story__text {
    margin: 0;
}

.story_image {
    border-radius: 8px;
}

.story__item:nth-child(2) .story_image {
    position: absolute;
    right: calc(50% - 550px);
}

/* partnership section */

.partnership__list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin-bottom: 168px;
}

.partnership__item {
    width: 280px;
}

.partnership__subheading {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    color: #333D4B;
    margin: 0;
    margin-bottom: 24px;
}

.partnership__item::before {
    content: '';
    width: 51px;
    height: 51px;
    display: block;
    margin-bottom: 42px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.partnership__item:nth-child(1):before {
    background-image: url('../images/partnership_icon_1.svg');
}

.partnership__item:nth-child(2):before {
    background-image: url('../images/partnership_icon_2.svg');
}

.partnership__item:nth-child(3):before {
    background-image: url('../images/partnership_icon_3.svg');
}


.partnership__link {
    display: block;
    text-decoration: none;
    color: #333D4B;
    margin-bottom: 10px;
}