.about__cta__wrapper--bg {
    background-image: url('../images/about_cta_bg.png');
    height: 450px;
    margin-bottom: 168px;
}

.about__cta__description--width {
    width: 40%;
    margin-bottom: 0;
}
