
.because__wrapper {
    background-color: #2C343E;
    color: #ffffff;
    border-radius: 10px;
    padding: 100px 100px 0 100px;
    height: 577px;
    margin-bottom: 350px;
}

.because__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-bottom: 32px;
}

.because__description {
    text-align: center;
    margin: 0;
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 86px;
}

.because__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.because__item {
    max-width: 340px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 48px;

    &::before {
        width: 72px;
        height: 72px;
        display: block;
        content: "";
        margin: 0 auto;
        margin-bottom: 56px;
        flex-shrink: 0;
    }

    &:nth-child(1)::before {
        background-image: url("../images/because_icon_1.png");
    }
    
    &:nth-child(2)::before {
        background-image: url("../images/because_icon_2.png");
    }
    
    &:nth-child(3)::before {
        background-image: url("../images/because_icon_3.png");
        background-repeat: no-repeat;
    }
    
}

.because__list__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 32px;
}

.because__list__description {
    text-align: center;
    margin: 0;
}


@media only screen and (max-width: 1280px) {
    .because__wrapper {
        padding: 80px 80px 0 80px;
    }

    // .because__description {
    //     width: 75%;
    // }

    .because__item {
        padding: 72px 28px 48px 28px;
        max-width: 300px;
    }
}

@media only screen and (max-width: 1140px) {
    .because__wrapper {
        padding: 70px 70px 0 70px;
    }

    .because__item {
        padding: 41px 70px;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .because__item + .because__item {
        margin-top: 24px;
    }

    .because__wrapper {
        height: 700px;
    }

    .because__item::before {
        margin-bottom: 0;
        display: inline-block;
    }

    .because__list__heading, .because__list__description {
        text-align: left;
    }

    .because__item__wrapper {
        margin-left: 20px;
        width: 85%;
    }
}

@media only screen and (max-width: 1000px) {
    .because__wrapper {
        padding: 57px 57px 0 57px;
    }
}

@media only screen and (max-width: 550px) {
    .because__wrapper {
        height: 1150px;
    }

    .because__wrapper {
        padding: 64px 24px 0 24px;
    }

    .because__item {
        display: block;
        padding: 72px 33px 51px 33px;
    }

    .because__item::before {
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-bottom: 56px;
        display: block;
    }

    .because__item__wrapper {
        margin-left: 0px;
        width: 100%;
    }

    .because__list__heading, .because__list__description {
        text-align: center;
    }

}
