

.instruction__heading {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    color: #83888F;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 95px;
}

.instruction__list {
    list-style-type: none;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.instruction__item {
    width: 32%;

    &::before {
        width: 31px;
        height: 31px;
        display: inline-block;
        content: '';
        border: 2px solid #0E8784;
        border-radius: 50%;
        margin-bottom: -19px;
    }
    
}

.instruction__number::before {
    width: 130%;
    height: 2px;
    display: inline-block;
    content: '';
    background-color: #FDD6BA;
    margin-bottom: 100px;
    margin-left: 31px;
}

.instruction__item:nth-child(3) .instruction__number::before {
    background-color: #ffffff;
}

.instruction__item + .instruction__item {
    margin-left: 10px;
}

.instruction__number {
    color: #FDD6BA;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 38px;
}

.instruction__list__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 42px;
}

.instuction__list__description {
    font-size: 16px;
    color: #333D4B;
    margin: 0;
}


.instruction__link--margined {
    margin-top: 76px;
}

@media only screen and (max-width: 1320px) {
    .instruction__item + .instruction__item {
        margin-left: 10px;
    }

    .instruction__list {
        width: 100%;
    }
}

@media only screen and (max-width: 610px) {
    .instruction {
        padding-top: 150px;
    }
}


@media only screen and (max-width: 540px) {

    .instruction__number::before, .instruction__item::before {
        display: none;
    }
    
    
    .instruction__item {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .instruction__list .instruction__link--margined {
        display: block;
        margin: 76px auto 0 auto;
    }

    .instruction__item + .instruction__item {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 400px) {
    .instruction {
        padding-top: 200px;
    }
}

@media only screen and (max-width: 350px) {
    .instruction {
        padding-top: 250px;
    }
}

@media only screen and (max-width: 330px) {
    .instruction {
        padding-top: 300px;
    }
}